<div class="section bg-dark ">
    <div class="container">
        <div class="row">
            <div class="card ">
                <div class="row">
                    <div class="col-6 border p-3">
                        <img src="data:image/<%=item.img.contentType%>;base64,<%= item.img.data.toString('base64') %>"
                            class="card-img-top" alt="product Image" width="300" height="500">
                    </div>
                    <div class="col-6 p-3">
                        <div class="card-body ">
                            <h2 class="card-title"> <%= item.name %> </h2>
                            <hr class="divider">
                            <h3 class="card-text"> Description : <%= item.desc %> </h3>
                            <div class="d-flex gap-2">
                                <div class="col">
                                    <h4> Price : <%= item.price %> </h4>
                                </div>
                                <div class="col">
                                    <h4> Stock : <%= item.qty %> </h4>

                                </div>
                            </div>

                            <a href="/product/orderpage/<%= item.id %>" class="btn btn-primary">Buy Now</a>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>